<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

{% if message %}
{{ message }}
{% endif %}

<form action="{% url 'demo:login' %}" method="post">

    {% csrf_token %}
    <p>

        <input type="text" name="username" id="username" placeholder="ユーザ名" value=""
               pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,12}$"
               data-validation-msg="Username must be 2 - 12 characters" required/>
    </p>
    <p>
        <input type="password" name="password" id="password" placeholder="パスワード" value=""
               pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,12}$" data-validation-msg="Password must be 2-12 characters"
               required/>
    </p>
    <input type="Submit" value="ログイン" id="submit"/>
    </fieldset>
</form>
</body>
</html>